*.tmp
*.lock
*.bak
.DS_Store

# Ignorar excels grandes de insumos
insumos_ejemplo/*.xls*
# Basura Windows
Thumbs.db

!insumos_ejemplo/Serie_Formato_ 491 AFILIADOS AFP.xlsm

# Build
target/

# Eclipse
.classpath
.project
.settings/
