*.tmp
*.lock
*.bak
.DS_Store

# Ignorar excels grandes de insumos
insumos_ejemplo/*.xls*
# Basura Windows
Thumbs.db

.classpath
.settings/
salidas_referencia/*.xlsx
salidas_referencia/~$*.xlsx


!insumos_ejemplo/Serie_Formato_ 491 AFILIADOS AFP.xlsm

# Build
target/
